.homepage-footer {
    height: 340px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #999;
    padding: 20px 40px;
    font-size: 13px;
}

.homepage-footer-icons {
    margin-left: 120px;
    margin-bottom: 20px;
    margin-top: 42px;
    display: flex;
    gap: 1rem;
    font-size: 20px;
    color: #fff;
}

.homepage-footer-service-code {
    background-color: transparent;
    border: 1px solid #888;
    color: #888;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.homepage-footer-service-code:hover {
    border-color: #fff;
    color: #fff;
}

.homepage-footer-copyright {
    margin-bottom: 100px;
    font-size: 13px;
}

.homepage-footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.homepage-footer-link {
    display: inline-block;
    cursor: pointer;
}

.homepage-footer-bottom {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 100px;
}
