header {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 120px;
}

.logo {
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    width: 191px;
    height: 44px;
    margin-left: 40px;
    margin-top: 20px;
}
